:root {

    --Moderateviolet: hsl(263, 55%, 52%);
    --Verydarkgrayishblue: hsl(217, 19%, 35%);
    --Verydarkblackishblue: rgb(25, 33, 46);
    --White: hsl(0, 0%, 100%);
    --Lightgray: rgb(207, 207, 207);
    --Lightgrayishblue: hsl(210, 46%, 95%);


}